.upload-statusbar {
border: 1px solid #0ba1b5;
max-width: 420px;
margin: 10px 0 0;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 5px 5px 5px 5px
}
.upload-filename {
width: 100%;
height: auto;
margin:0 0 10px;
color: #807579
}
.upload-progress {
margin:0 0 10px;
position: relative;
width: 100%;
border: 1px solid #ddd;
padding: 1px;
border-radius: 3px;
display: inline-block
}
.upload-bar {
background-color: #0ba1b5;
width: 0;
height: 20px;
border-radius: 3px;
color:#FFFFFF;
}
.upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}.preview_file{padding:10px 0 0;}
.upload-red {
-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
box-shadow: inset 0 39px 0 -24px #e67a73;
background-color: #e4685d;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
text-shadow: 0 1px 0 #b23e35;
cursor: pointer;
vertical-align: top;
margin-right:5px;
}
.upload-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: top;
margin-right:5px;
}
.upload {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
   font-weight: bold;
	padding: 15px 20px;
	cursor:pointer;	
	line-height:20px;
	margin:0 10px 0 0;
  display: inline-block;
  background: #fff;
  color: #888;
  text-decoration: none;
  padding: 6px 10px 4px 10px; 
  color: #fff;
  background: #2f8ab9;
  border: none;
  vertical-align:middle;  
  }
  
.upload:hover {background: #28759D;}

.ajax-upload-dragdrop
{	background: #f0eef0;    border: 1px solid #dfdfdf;    border-radius: 4px;max-width:420px;
	color: #ccc;
	text-align:left;
	vertical-align:middle;
	padding:10px;
        margin:0 auto;
}